.firstSection {
    position: absolute;
    height: 700px;
    width: 100%;
    top: 105px;
    background-image: url("https://www.journal-theme.com/6/image/cache/catalog/journal3/slider/demo6/shrawan-kalyan-341051-unsplash-1400x650w.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}