.column-12ForMobile, .underButtomHeaderMobile {
    display: none;
}
header {
    width: 100%;
    height: 35px;
    background-color: rgb(219, 142, 47);
}

/*TOP HEADER*/

.topHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: black;
}
.leftColumn-6 {
    width: 50%;
    height: 35px;
    border-radius: 1px;
}
.boxInLeftColumn ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    height: 35px;
}
.rightColumn-6 {
    width: 50%;
    height: 35px;
}
.boxInLeftColumn li img {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 8px;
}
.boxInLeftColumn a {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
p {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 10px;
}

/* #######################################################*/

.boxInRightColumn-6 {
    display: flex;
    justify-content: end;
    height: 35px;
    width: 100%;
    
}
img {
    background-color: white;
}
.boxInRightColumn-6 a {
    width: 30%;
}
.boxInRightColumn-6 p {
    margin-right: 10px;
}
.forColorOfHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: blue;
    opacity: 0.5;
    
}

/*###########################################################*/




/*BUTTOM HEADER*/

header .buttomHeader {
display: flex;
flex-direction: row;
width: 100%;
height: 70px;
background-color: rgb(47, 45, 56);
}
.searchWithTypes {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.choiseSearchType select {
    height: 35px;
    width: 40px;
    background-color: blue;
    color: white;
    border-radius: 5px 0 0 5px;
}
.choiseSearchType {
    width: 10%;
}
.choiseSearchType select {
    width: 100%;
}
.submit a {
    width: 100%;
}
.search {
    height: 35px;
    width: 80%;

}
.submit {
    height: 35px;
    width: 10%;
}
.inputSearch {
    height: 35px;
    width: 100%;

}
.submit img {
    height: 35px;
    width: 100%;
    border-radius: 0 5px 5px 0;
}
.activiteList img {
    height: 60%;
    width: 60%;
    margin-top: 10px;
}
.logoOfJournal {
    width: 20%;
    padding-top: 10px;
    padding-left: 20px;
}
.navBar {
    width: 5%;
}
.searchWithTypes {
    width: 50%;
    padding-top: 16px;
} 
.choiseList {
      display: flex;
      flex-direction: row;
      width: 25%;
}
.choiseList img {
    background-color: white;
}
.activiteList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding-top: 10px;
}
.activiteList a p {
    margin-top: 0px;
}
.activiteList a {
    width: 42px;
    height: 42px;
}
.basket {
    width: 30%;
}
.basket img {
    height: 70%;
    width: 70%;
    margin-top: 10px;
}
.logoOfJournal img {
    width: 80%;
    height: 80%;
}
.navBar {
    padding-top: 18px;
}
.navBar img {
    width: 70%;
    height: 70%;
}

@media only screen and (max-width: 600px) {
    /*Top Header*/
    .leftColumn-6, .rightColumn-6 {
        display: none;;
    }
    .column-12ForMobile {
        display: flex;
        justify-content: center;
        margin: 0 25% 0 25%;
        width: 100%;
        height: 35px;
    }
    .boxInColumn-12 ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        width: 100%;
        height: 35px;
    }
    .boxInColumn-12 ul li a img {
        width: 30px;
        height: 30px;       
    }
    .boxInColumn-12 {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .boxInColumn-12 a {
        display: flex;
        flex-direction: row;
        margin: 5px 5px 5px 0;
    }
    .boxInColumn-12 p {
        margin-left: 2px;
        font-size: 6px;
    }

    /*Buttom Header*/
    .choiseList, .navBar, .searchWithTypes, .search, .submit, .basket{
        display: none;
    }
    .buttomHeader {
        justify-content: center;
    }
    .buttomHeader img {
        height: 80%;
        width: 100%;
    }
    .underButtomHeaderMobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 51px;
        width: 100%;
        background-color: rgb(37, 37, 41);
        padding-top: 8px;
    }
    .searchWithTypesMobile {
        display: flex;
        flex-direction: row;
        width: 60%;
    }
    .choiseSearchTypeMobile select {
        height: 35px;
        width: 40px;
        background-color: blue;
        color: white;
        border-radius: 5px 0 0 5px;
    }
    .searchMobile {
        height: 35px;
        width: 80%;
    }
    .inputSearchMobile {
        height: 35px;
        width: 100%;
    }
    .submitMobile {
        height: 35px;
        width: 15%;
    }
    .submitMobile img{
        height: 35px;
        width: 100%;
        border-radius: 0 5px 5px 0;
    }
    .basketMobile img {
        height: 75%;
        width: 100%;
    }
    .narBarMobile {
        margin-right: 5px;
    }
    .basketMobile {
        width: 10%;
        height: 90%;
        margin-left: 5px;
        margin-top: 3px;
    }
}