.column-12ForMobile {
    display: none;
}
header {
    width: 100%;
    height: 35px;
    background-color: rgb(219, 142, 47);
}
.topHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: black;
}
.leftColumn-6 {
    width: 50%;
    height: 35px;
    border-radius: 1px;
}
.boxInLeftColumn ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    height: 35px;
}
.rightColumn-6 {
    width: 50%;
    height: 35px;
}
.boxInLeftColumn li img {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-left: 8px;
}
.boxInLeftColumn a {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
p {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 10px;
}

/* #######################################################*/

.boxInRightColumn-6 {
    display: flex;
    justify-content: end;
    height: 35px;
    width: 100%;
    
}
img {
    background-color: white;
}
.boxInRightColumn-6 p {
    margin-right: 10px;
}
.forColorOfHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: blue;
    opacity: 0.5;
    
}

/*###########################################################*/

@media only screen and (max-width: 600px) {
    .leftColumn-6, .rightColumn-6 {
        display: none;;
    }
    .column-12ForMobile {
        display: flex;
        justify-content: center;
        margin: 0 25% 0 25%;
        width: 100%;
        height: 35px;
    }
    .boxInColumn-12 ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: noen;
        width: 100%;
        height: 35px;
    }
    .boxInColumn-12 ul img {
        width: 25px;
        height: 25px;
    }
    .boxInColumn-12 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .boxInColumn-12 a {
        display: flex;
        flex-direction: row;
        margin: 5px 5px 5px 0;
    }
    .boxInColumn-12 p {
        margin-left: 2px;
    }
    
}